<li class="card mb-3">
    <div class="card-header d-flex">
        <p class="blockquote">{{message_text}}</p>
        <p class="blockquote-footer">{{user.username}}</p>
    </div>
</li>
{{!-- note change these variable names as we continue onward --}}
{{!-- have one that is my posts/other post --}}

{{!-- figure out update in realtime????? --}}