<li class="card mb-3 w-50 align-self-end">
        <figure>
            <blockquote class="blockquote">
                <p>{{message_text}}</p>
            </blockquote>
            <figcaption class="blockquote-footer">Me</figcaption>
        </figure>
    </li>
{{!-- note change these variable names as we continue onward --}}
{{!-- have one that is my posts/other post --}}

{{!-- figure out update in realtime????? --}}