<li class="card mb-3 w-50">
    <figure>
        <blockquote class="blockquote">
            <p>{{message_text}}</p>
        </blockquote>
        <figcaption class="blockquote-footer">{{user.username}}</figcaption>
    </figure>
</li>