<li class="card m-3">
    <a href="/thread/{{id}}">
        <figure>
            <blockquote class="blockquote">
                <p>{{text_content}}</p>
            </blockquote>
            <figcaption class="blockquote-footer">
                {{user.username}}
            </figcaption>
        </figure>
    </a>
</li>

{{!--
<script src="/js/channel.js"></script> --}}