<label>Channel To Publish on:</label>
    <input id="thread" type="text" placeholder="channel-name-here" />
    <br>
    <input id="publish-button" type="submit" value="PubNub Publish..."/>
    <br><br>
    <label>Add a channel to "my-group":</label>
    <input id="new-to-group" type="text" placeholder="channel-name-here" />
    <br>
    <input id="add-to-group" type="submit" value="Add Channel"/>
    <br><br>
    <label>Currently subscribed to channel "channel-a.*" and to group "my-group"</label>

    <script src="/js/newChannel.js"></script>