{{!-- {{#if whichUser}}
<ul class="m-3 p-0">
    {{#each messages as |post|}}
    {{>myMessage}}
    {{/each}}
</ul>
{{else}}
<ul class="m-3 p-0">
    {{#each messages as |post|}}
    {{>otherMessage}}
    {{/each}}
</ul> --}}

<p>{{users}}</p>

<div id="pikachu"></div>
{{!-- {{/if}} --}}
<script src="/js/test.js">

</script>
<input id="message" type="text-area">
<button onclick="sendinput()">send</button>

<script src="/js/chatroom.js"></script>