{{#if whichUser}}
<ul class="m-3 p-0">
    {{#each posts as |post|}}
    {{>myMessage}}
    {{/each}}
</ul>
{{else}}
<ul class="m-3 p-0">
    {{#each posts as |post|}}
    {{>otherMessage}}
    {{/each}}
</ul>
{{/if}}

<p> test code</p>
<script src="/js/chatroom.js"></script>