<h1 id="channelName" class=" text-center">Live Chat</h1>




<div id="pikachu" class="d-flex flex-column"></div>


</script>
<input data-username="{{users.username}}" id="message" type="text-area">
<button onclick="sendinput()">send</button>

<script src="/js/chatroom.js"></script>