{{#if whichUser}}
<ul class="m-3 p-0">
    {{#each messages as |post|}}
    {{>myMessage}}
    {{/each}}
</ul>
{{else}}
<ul class="m-3 p-0">
    {{#each messages as |post|}}
    {{>otherMessage}}
    {{/each}}
</ul>
{{/if}}

<input id="message" type="text-area">
<button onclick="sendinput()">send</button>
<div id="pikachu"></div>
<script src="/js/chatroom.js"></script>