<h1>Forums</h1>
<div>
    {{#each channels as |channel|}}
    {{>channel-details}}
    {{/each}}
</div>
<button data-userid="{{userID}}" id="newForum">Make a new Forum</button>
<br>
<div style="display:none" id="newForumContainer">
    <label for="neForumTitle">New Forum</label>
    <input id="newForumTitle">
    <button id="submitForum">Submit</button>
</div>

<script src="/js/newforum.js"></script>