<input type="hidden" id="user-id" value="{{user_id}}" />
<div class="card m-3 p-0">
    <h2 class="card-header">Annouce Something!</h2>
    <div class="m-2">
        <p>Title</p>
        <input id="newTitle">
    </div>
    <div class="m-2">
        <p>Content</p>
        <textarea class="w-100" id="newContent"></textarea>
    </div>
    <button id="submitAnnouce">Submit</button>
</div>

<script src="/js/newAnnouce.js"></script>