<h1 data-channelName="{{channel.title}}" id="channelName" class=" text-center">{{channel.title}}</h1>
<div id="pikachu"></div>



<input data-username="{{user.username}}" id="message" type="text-area">
<button onclick="sendinput()">send</button>

<script src="/js/chatroom.js"></script>