<div class="card m-3 p-0">
    <h2 class="card-header">Create a New Forum</h2>
    <div class="m-2">
        <p>Title</p>
        <input id="newForumTitle">
    </div>
    <button id="submitForum">Submit</button>
</div>

<script src="/js/newforum.js"></script>